.card-burger {
  padding-top: 10px;
  margin-bottom: 10px;
}
.heading {
  font-size: 1.5rem;
  padding: 15px;
  font-weight: bold;
}

.detail {
  font-size: 1rem;
  font-weight: 300;
  padding: 15px;
}

.actions {
  padding-bottom: 10px;
}
.space-row {
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
}

hr {
  margin: 0;
  padding: 0;
  border: 1px solid #ddd;
}
.element-space {
  width: 100%;
}
.space-row-item {
  padding-top: 5px;
  padding-bottom: 5px;
}
.modal-element {
  width: 90%;
}
