.heading {
  padding: 15px;
}

hr {
  margin: 0px, 10px;
  padding: 0px;
  border: 1px solid #ddd;
}
.element-space {
  margin-top: 10px;
}
.form-unit {
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 50px;
}
.icon-space {
  margin-right: 5px;
}
