<form [formGroup]="ingredientForm" class="form-unit">
  <select class="form-select" formControlName="ingredient">
    <option *ngFor="let item of initialItems" value="{{ item.name }}">
      {{ item.name }} - {{ item.price | currency }}
    </option>
  </select>
  <button
    class="btn primary element-space"
    [disabled]="!ingredientForm.valid"
    (click)="addIngredient()"
  >
    <i class="fal fa-plus-circle"></i> Add
  </button>
</form>
<h4>Ingredients</h4>
<p class="text-center" *ngIf="ingredients.length == 0">No ingredients</p>
<div class="justify-center-flex table-flow">
  <table *ngIf="ingredients.length != 0">
    <thead class="text-center">
      <tr>
        <th>Name</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody class="text-center">
      <tr *ngFor="let item of ingredients; index as i">
        <td>{{ item }}</td>
        <td>
          <button class="btn danger" (click)="removeIngredient(i)">
            <i class="fal fa-trash-alt"></i> X
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
